
transformers==4.45.1
peft==0.13.2
accelerate==0.34.2
huggingface_hub==0.24.6

vllm==0.5.3          
lm-eval==0.4.2  

datasets==2.20.0
sentencepiece
numpy
scipy
pandas
scikit-learn
networkx
matplotlib
einops
pyyaml
